.colorPalette1 {
    color: #84d07d;
    background-color: rgb(132, 208, 125);
}

.colorPalette2 {
    color: #5e785d;
    background-color: rgb(94, 120, 93);
}

.colorPalette3 {
    color: #555a56;
    background-color: rgb(85, 90, 86);
}

.colorPalette4 {
    color: #3e4943;
    background-color: rgb(62, 73, 67);
}

.colorPalette5 {
    color: #252b25;
    background-color: rgb(37, 43, 37);
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.App {
    text-align: center;
    color: #5e785d;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    min-height: 100dvh;
}

.background-gradient {
    position: fixed;
    top: 12dvh;
    left: 0;
    width: 100%;
    height: 88dvh;
    background: linear-gradient(180deg, rgba(37, 43, 37, 0.5) 25%, rgba(62, 73, 67, 0.5) 50%, rgba(85, 90, 86, 0.5) 75%, rgba(94, 120, 93, 0.5) 100%);
    z-index: -1;
    overflow-y: hidden;
}

* {
    /* border: 1px solid blue; */
}

hr {
    border: none;
    border-top: 2px solid #5e785d
}

h2 {
    font-size: 1.2rem;
    color: #252b25;
    text-shadow: -1px 0 #84d07d, 0 1px #84d07d, 1px 0 #84d07d, 0 -1px #84d07d;
}

h3 {
    font-size: 1rem;
    font-style: normal;
    color: #5e785d;
    line-height: 1.5;
    margin: 1rem 2rem;
}

h4 {
    margin: 1rem;
    font-size: 0.6rem
}

h5 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 0.3rem;
    color: #84d07d;
    letter-spacing: 1px;
}

p {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #84d07d;
}

.retro-button {
    display: block;
    background-color: #84d07d;
    color: #3e4943;
    border: 2px solid #3e4943;
    border-radius: 5px;
    font-family: "Press Start 2P", system-ui;
    font-size: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 5px #84d07d;
    text-decoration: none;
}

.retro-button:hover {
    cursor: pointer;
}

.retro-button:active {
    background-color: #252b25;
    color: #84d07d;
    border: 2px solid #84d07d;
}

/*----------------------------------------------------------------------------------------*/
/* .NAVIGATION BAR STYLES */
.main-navbar {
    height: 12dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-wrapper {
    margin-left: 2rem;
}

.main-navbar h1 {
    font-size: 1rem;
    color: #252b25;
    width: min-content;
    padding: 3px;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.3rem;
    text-shadow: -1px 0 2px rgb(132, 208, 125), 0 1px 2px rgb(132, 208, 125), 1px 0 2px rgb(132, 208, 125), 0 -1px 2px rgb(132, 208, 125);
}

.main-navbar a {
    text-decoration: none;
}

.links-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-svg {
    width: 5vw;
    height: 5vw;
    fill: #5e785d;
}

.navbar-svg svg {
    width: 100%;
    height: 100%;
}

.navbar-svg:hover {
    fill: #84d07d;
}

.navBar-linkText {
    display: none;
    width: min-content;
    font-size: 1rem;
    margin-right: 0.8rem;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    color: #5e785d;

}

.main-navbarBar-linkText:hover {
    color: #84d07d;
}

/*----------------------------------------------------------------------------------------*/

/* HOME PAGE STYLES */
.home-page {
    display: flex;
    flex-direction: column;
    height: 88dvh;
}

.hero-wrapper {
    position: relative;
}

.hero-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    z-index: -1;
}

.presentation-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
}

.presentation-wrapper p {
    font-size: 0.8rem;
    line-height: 2;
    margin: 0;
}

.homepage-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #84d07d;
    color: #252b25;
    border: 2px solid #252b25;
    font-family: "Press Start 2P", system-ui;
    font-size: 0.4rem;
    padding: 0.2rem;
}

.homepage-button:active {
    background-color: #252b25;
    color: #84d07d;
    border: 2px solid #84d07d;
}

/*----------------------------------------------------------------------------------------*/

/* ABOUT PAGE STYLES */

.about-page {
    min-width: 400px;
    max-width: 800px;
    min-height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-page p {
    flex-basis: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    color: #84d07d;
    font-size: 0.9rem;
    width: 70%;
    margin: 0.8rem auto;
}

/*----------------------------------------------------------------------------------------*/

/* SEARCH GAMES PAGE STYLES */
.search-games {
    min-height: 90dvh;
    width: 100%;
}

.search-games h2 {
    width: 70%;
    margin: 2rem auto;
}

.search-query {
    background-color: #3e4943;
    height: 2.5rem;
    width: 90%;
    text-align: center;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #84d07d;
    border: 2px solid #84d07d;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.search-form input::placeholder {
    color: #5e785d;
}

.checkboxes-container {

    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: start;
    margin: auto;
}

.individual-checkbox-container {
    text-align: left;
    width: 100%;
}

.individual-checkbox-container label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    font-style: normal;
}

.search-form button {
    display: block;
    margin: 15px auto;
}

/*----------------------------------------------------------------------------------------*/
/* FILTERS STYLES*/

.filters-container {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    justify-items: center;
    grid-template-areas:
        "heading heading"
        "genre rating"
        "date date"
        "clear-filters clear-filters";
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px dashed;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.filters-container h4 {
    color: #5e785d;
    margin: 0;
    grid-area: heading;
}

.genre {
    grid-area: genre;
}

.rating {
    grid-area: rating;
}

.date {
    grid-area: date;
}

.filters-container button {
    grid-area: clear-filters;
    display: block;
}

.filter {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter select {
    background-color: #555a56;
    color: #84d07d;
    border-radius: 20px;
    border: 2px solid #84d07d;
    padding: 0.5rem;
    height: 2.5rem;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.slider {
    flex-grow: 1;
    height: 2.5rem;
    border: 2px solid #84d07d;
    background-color: #555a56;
    padding: 0 10px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.horizontal-slider {
    width: 100%;
    height: 2rem;
    max-width: 100%;

    display: flex;
    align-items: center;
    resize: none;
}

.date-range {
    padding: 0 0.5rem;
    width: 5rem;
}

.date-range>p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    margin: 0.3rem;
    color: #84d07d;
}

.date-range-value {
    font-weight: bold;
}


.slide-track {
    top: 0;
    bottom: 0;
}

.slide-thumb {
    font-size: 0.6rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #84d07d;
    border: 2px solid #84d07d;
    background-color: #5e785d;
}

.slide-thumb:active {
    background-color: #84d07d;
    border: 2px solid #84d07d;
}

.slide-thumb:focus-visible {
    outline: none;
}

.page-navigator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-navigator h5 {
    min-width: 120px;
}

.page-navigator button {
    display: block;
    width: 100%;
    height: 2.5rem;
}

.page-navigator button span {
    display: inline-block;
    width: min-content;
    text-align: center;
}

button.right {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

button.right:active {
    border-right: none;

}

button.left {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

button.left:active {
    border-left: none;

}

.games-list-container {
    margin-top: 1rem;

    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.game-card {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #252b25;
    color: #252b25;
    text-decoration: none;
    padding: 0.5rem;
    box-shadow: 0 0 5px #84d07d;
    border-radius: 2px;

}

.game-card:hover {
    animation: borderAnimation 0.5s 1 ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes borderAnimation {
    0% {
        box-shadow: 0 0 5px #84d07d;
    }

    100% {
        box-shadow: 0 0 30px #84d07d;
    }

}

.game-card h2 {
    font-size: 0.8rem;
    line-height: 1.5;
    width: 90%;
    margin: 0 0 20px 0;
    display: block;
    text-shadow: -1px 0 #84d07d, 0 1px #84d07d, 1px 0 #84d07d, 0 -1px #84d07d;
}

.background-image {
    display: block;
    width: 90%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.game-card p {
    color: #5e785d;
}

/*----------------------------------------------------------------------------------------*/
/* GAME DETAILS PAGE STYLES */
.details-main-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow-y: auto;
}

.details-top-container {
    flex-basis: 40%;
    inset-block-start: 5rem;
    top: 8rem;
}

.details-top-container a {
    width: 100px;
    line-height: 1.2;
    display: block;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.details-title h2 {
    line-height: 1.5;
    margin: 1rem 3rem;
    color: #252b25;
    text-shadow: -1px 0 #84d07d, 0 1px #84d07d, 1px 0 #84d07d, 0 -1px #84d07d;
}

.details-title h3 {
    margin: 1.5rem;
    color: #5e785d;
    text-shadow: none;
}

.details-title h3 span {
    display: block;
    margin: 0.5rem;
}

.details-game-thumbnail {
    width: 80%;
    margin-bottom: 2rem;
}

.details-bottom-container {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.details-bottom-container nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    border: 2px solid #5e785d;
    border-radius: 3px 0 0 0;
}

.details-bottom-container nav a {
    flex-grow: 1;
    color: #252b25;
    background-color: #5e785d;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    width: auto;
}

.details-bottom-container nav a.opened-page {
    color: #84d07d;
    background-color: #252b25;
}

.details-bottom-container nav a:active {
    background-color: #84d07d;
    color: #84d07d;
    text-shadow: -1px 0 #252b25, 0 1px #252b25, 1px 0 #252b25, 0 -1px #252b25;
}

.details-bottom-right-container {
    border: 2px solid #5e785d;
    border-top: none;
}

.overview {
    margin: 3rem 0;
}

.details-bottom-right-container h4 {
    margin-left: 1rem;
    text-align: left;
}

.details-bottom-right-container p {
    text-align: justify;
    width: 80%;
    margin: auto;
}

.screenshots-container {
    margin: 0;
    width: 100%;
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.screenshot {
    width: 100%;
}

/*----------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media (min-width: 480px) {
    .main-navbar h1 {
        font-size: 1.2rem;
        width: auto;
    }

    .main-navbar>a {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .presentation-wrapper {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .title-wrapper {
        margin-left: 5vw;
    }

    .main-navbar h1 {
        font-size: 1.3rem;
        white-space: nowrap;
        width: 0;
        width: 100%;
        border-right: 5px solid #84d07d;
        overflow: hidden;
        animation: typing 2s steps(15), cursor 0.4s step-end infinite alternate;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }

    @keyframes cursor {
        50% {
            border-color: transparent;
        }
    }

    @keyframes typing {
        from {
            width: 0;
            visibility: hidden;
        }
        to {
            width: 98%;
            visibility: visible;
        }
    }

    .hero-image {
        aspect-ratio: 2/1;
    }

    .links-wrapper {
        width: 30%;
    }

    .navbar-svg {
        width: 30px;
        height: 30px;
        fill: #5e785d;
    }
}

@media (min-width: 1024px) {
    .main-navbar>a {
        font-size: 1rem;
        margin-right: 2rem;
    }

    .hero-image {
        aspect-ratio: 5/2;
    }

    .homepage-button {
        font-size: 1.2rem;
        padding: 0.8rem;
    }

    .filters-container {

        grid-template-areas:
            "heading heading heading"
            "genre rating date"
            "clear-filters clear-filters clear-filters";
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1200px) {
    .home-page {
        display: flex;
    }

    .hero-image {
        width: 100%;
        margin: auto auto;
        aspect-ratio: 4/3;
    }

    .main-navbar h1 {
        text-shadow: -1px 0 6px rgb(132, 208, 125), 0 1px 6px rgb(132, 208, 125), 1px 0 6px rgb(132, 208, 125), 0 -1px 6px rgb(132, 208, 125);
    }

    .hero-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }

    .presentation-wrapper p {
        width: 80%;
        font-size: 1.5rem;
    }

    .search-games {
        min-height: 85dvh;
    }
}

@media only screen and (orientation: landscape) {
    h2 {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    p {

        font-size: 1.5rem;
    }

    .background-gradient {
        height: 85dvh;
        top: 15dvh;
    }

    .main-navbar {
        height: 15dvh;
    }

    .main-navbar h1 {
        font-size: 2vw;
        white-space: nowrap;
    }

    .home-page {
        flex-direction: row;
        background: linear-gradient(180deg, rgba(37, 43, 37, 0.4) 25%, rgba(62, 73, 67, 0.4) 50%, rgba(85, 90, 86, 0.4) 75%, rgba(94, 120, 93, 0.4) 100%);

        height: 82dvh;
    }

    .hero-wrapper,
    .presentation-wrapper {
        width: 50%;
    }

    .hero-image {
        height: 100%;
    }

    .search-query {
        width: 50%;
    }

    .checkboxes-container {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .presentation-wrapper p {
        width: 90%;
        font-size: 1.5vw;
    }

    .details-main-container {
        flex-direction: row;
    }
}